<div class="question_tile">
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{question.title}}
    </div>
    <div class="panel-body">
      {{#link-to "question" question.id}}
        {{question.body}}
      {{/link-to}}
    </div>
    <div class="panel-footer">
      Posted by: {{question.author}}
    </div>
  </div>
</div>
