.center {
  text-align: center;
}

.jumbotron {
  margin-top: 30px;
}

.footer li {
  display: inline;
  list-style: none;
}

.question-container {
  padding-left: 10px;
  padding-right: 10px;
}

.question_form {
  padding-left: 10px;
  padding-right: 10px;
}
